body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
  }
  
  .calculator {
    width: 300px;
    border: 20px; animation: tlacitko 3s  ease infinite;
    border-radius: 5px;
    background-color: rgb(40, 40, 40);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
  }

    
  
  @keyframes tlacitko {
    10% {
     background-color: rgb(251, 1, 1);
    }
    20% {
        background-color: rgb(163, 250, 1);
    }
    30% {
        background-color: rgb(11, 240, 252);
    }
    40% {
        background-color: rgb(13, 44, 242);
    }
    50% {
        background-color: rgb(159, 10, 239);
    }
    60% {
        background-color: rgb(248, 8, 176);
    }
    70% {
        background-color: rgb(232, 6, 85);
    }
    80% {
        background-color: rgb(241, 230, 11);
    }
    90% {
        background-color: rgb(250, 201, 4);
    }
    100% {
        background-color: rgb(167, 0, 0);
    }
}
  .display {
    height: 60px;
    font-size: 24px;
    text-align: right;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: auto; 
    color: white;
    
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 5px;
    background-color: rgb(0, 0, 0);
  }
  
  button {
    height: 80px;
    width: 70px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color:  rgb(0, 0, 0);
    color: white;
    border: 1px rgb(255, 255, 255);
    
  }
  
  button:hover {
    border: 20px; animation: tlacitko 5s  ease infinite;
    
  }

  .prp {
      color: rgb(255, 111, 0);
  }


body {
    border: 20px; animation: tlacitko 2s  ease infinite;
}



  
